In [1]:
import requests
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None
import numpy as np
import datetime
from datetime import date
from datetime import datetime
import time
from urllib.request import Request, urlopen

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.client import GoogleCredentials
from google.oauth2.service_account import Credentials

scopes = ['https://www.googleapis.com/auth/spreadsheets', 'https://www.googleapis.com/auth/drive']

credentials = {
  "type": "service_account",
  "project_id": "grow-data-303020",
  "private_key_id": "ce81c41081c91921236f8a7bb465b3efad83046d",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC1stpjZtDKewcA\nSR1NPDLJBsitgi9JXqRRC2+dcjnf/IhV1gL6n/cZVNtsRD8fgALUANWguAtOXQEQ\nEaPybUR5cueY5CZReY9mJIwdK1NTrR26r8uJ5ijF6oh+2w56TOGog8Xm+vmP7QdT\nYQBrhiuSG5qR4H5JbmDTlj/5uf5hTg+Ft2Flc3SNcWLmvE1MtZc5JTPH0wrKPfKE\njHKjH2S/u4IgExdj+NF+6dnctjxAPfl1ms3px2lazur38V6YJfMo1Gyg7vVUMzEY\nyrZMUC5X52olJtEB8Rcz4hChj5/N5k5CqXrEw6cKNT6DhaHGcX6CGEelaTOJjmo1\n3lUFN9BXAgMBAAECggEAMwUqSqArv7eFE0D0j+P39LfJcOMt6QHAzRsTd9gDxU/x\nbnzeMEbryTqpNIEDYpJ8+M/VLMCROCtoaX0ylpe1Ew8/VhC2a8lhCVL43xXz23qw\nbuP/GNU+nLiLJGfZbGEbOkjqML5HhnENzg1eY1L0+B11LUIm4/KxEKjPhQ2Djwm0\n3nf8QJ4VYJh7zbyO8lrXq7o8oBKySe5ulVtCPdTv3l5Q2zTWsyJdjT7B4+LKMBQH\nxM/PWFZhaOKmKqS2wzrZ/MWDi30IQzdl8Q7ZncvTcM2qy2QOGYb8/7bBXvCnOLaK\nDbgSz0MA8o7QuklQHnfoqYzh9XNK8sQWK60K7AjLTQKBgQDyo6MTgmCsnhFnfyWK\nmuSNLkQhN4l/CMYpJXoDneLzdZwEG16rZXDfL6kpTWIIj7Dc6FUfpENfzpTFGR0F\n1/g4OSw3PDuLbX8xOnW8QBJppzkhYk9kx5W7TKBJi4JAd/rSdAQaQx2DUHppjFvd\nH/gPLv/ON2h3zBcNhZ2CLuj9QwKBgQC/tCrmW9hnJU2u7pWsQ5n28QbO/irBaMY3\nrQS1fjua5ofPEkeDQtOydnpUI56KxnqnT5M7tg3J/3dgjPFxc2Mx2NQvLM/Lv6/i\n9Gs2F+D2tn6BSAPa6TDm2+pzASEopVIzKqG5kyw0k/imKrz6ML5ur2xdjA+1ytIK\n9PGK5QCFXQKBgFomzoqLIJxCRrkrlqk/D7gc/pdQ6TdX7TiQghsh6JcIlaU4/h20\nnRFvxexgohIIQXByql4NTDMmsEPjJtNrAQDyzSjgqkcNsfp6fBArxiuXRDTRMCqD\ntXBX8h4hRY3qhjj3fia71RVbK4BX9DHelO4fSlA2agxIui/9+x3JjCu9AoGBAJj8\nomPWFjwyg+0/z8h65oswzLsyEVLqV42lESX6CH1UzjsNnm59TU6VyIgPKP4c6VNO\naPR1FEoJCu7Na/2bFSV5odPIEkjKwAYCAvFXWxvohcqMey8fe/wwssh2tUynqpLU\nyd28OsH2+K87Wjbb4Y2Zh4ScOwlcRAWkdoLewGytAoGAZBWbg2LMzcbdC67FDEMo\n74NtIwngMCReUB67C6uVr5wZUuMcl27CSirLxyrpOtZbNIbrPp6s5+SJ9Qia3mul\nG8qCIhEgnui0E0abM9tSCnZO+huSJlXuSc18GQR5X46IKRqrsYCl/BT1FgQLZZaP\njlI+D2VTmSnj2c7JdnSca90=\n-----END PRIVATE KEY-----\n",
  "client_email": "grow-data@grow-data-303020.iam.gserviceaccount.com",
  "client_id": "105922171076484017051",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/grow-data%40grow-data-303020.iam.gserviceaccount.com"
}
gc = gspread.service_account_from_dict(credentials)

In [2]:
greenhouse_api = '153da5b714813019b8ce0f234cca5c73-4'

In [7]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/14RzXzfbLoKFXi7T5YhTVf6rtXwkKUt80U90Lp6zpXTQ/edit#gid=0')

In [3]:
def extract_next_url(link_header):
    if not link_header:
        return None
    links = link_header.split(", ")
    for link in links:
        if "rel=\"next\"" in link:
            # Extract the URL from the link
            url = link[link.index("<") + 1:link.index(">")]
            return url
    return None

In [4]:
auth = (greenhouse_api, "")
headers = {
    'Authorization': 'Basic YTcxODNlMWI3ZTlhYjA5YjhhNWNmYTg3ZDE5MzRjM2M6'
}

In [5]:
def get_data(url):
    df = pd.DataFrame()
    has_more = True

    while has_more:
        response = requests.get(url, auth=auth, headers=headers)
        try:
            df = pd.concat([df, pd.DataFrame(response.json())], ignore_index=True)
        except:
            print(response.text)
            break

        next_url = extract_next_url(response.headers.get('link'))        
        if next_url:
            url = next_url
        else:
            has_more = False
    
    return df

In [8]:
def set_sheet(sheet_name, df):
    sheet = wb.worksheet(sheet_name)
    sheet.clear()
    set_with_dataframe(sheet, df)

In [6]:
candidates_df = get_data('https://harvest.greenhouse.io/v1/candidates/')
candidates_df.head()
# Want this one

,website_addresses,updated_at,title,tags,social_media_addresses,recruiter,photo_url,phone_numbers,last_name,last_activity,keyed_custom_fields,is_private,id,first_name,employments,email_addresses,educations,custom_fields,created_at,coordinator,company,can_email,attachments,applications,application_ids,addresses
0,[],2021-02-01T20:51:17.906Z,None,[],[],"{'name': 'Cale Cranney', 'last_name': 'Cranney...",None,"[{'value': '4142133662', 'type': 'other'}]",Dudzik,2021-02-01T20:51:17.892Z,"{'report': None, 'english_fluency': None, 'com...",False,4041745004,Kara,[],"[{'value': 'kldudzik@gmail.com', 'type': 'pers...",[],"{'report': None, 'english_fluency': None, 'com...",2021-01-29T16:00:00.722Z,None,None,True,[{'url': 'https://grnhse-ghr-prod-s4.s3.amazon...,"[{'status': 'rejected', 'source': {'public_nam...",[4041766004],[]
1,[],2021-02-01T20:52:16.183Z,None,[],[],"{'name': 'Cale Cranney', 'last_name': 'Cranney...",None,"[{'value': '801-949-6307', 'type': 'other'}]",Esprit,2021-02-01T20:52:16.169Z,"{'report': None, 'english_fluency': None, 'com...",False,4041779004,Phouthasa,[],"[{'value': 'tasa.esprit@gmail.com', 'type': 'p...",[],"{'report': None, 'english_fluency': None, 'com...",2021-01-29T16:23:01.089Z,None,None,True,[{'url': 'https://grnhse-ghr-prod-s4.s3.amazon...,"[{'status': 'rejected', 'source': {'public_nam...",[4041801004],[]
2,[],2021-02-01T20:56:40.999Z,None,[],[],"{'name': 'Cale Cranney', 'last_name': 'Cranney...",None,"[{'value': '8017123717', 'type': 'other'}]",Zhang,2021-02-01T20:56:40.988Z,"{'report': None, 'english_fluency': None, 'com...",False,4041809004,Milo,[],"[{'value': 'milozcg@gmail.com', 'type': 'perso...",[],"{'report': None, 'english_fluency': None, 'com...",2021-01-29T16:36:00.841Z,None,None,True,[{'url': 'https://grnhse-ghr-prod-s4.s3.amazon...,"[{'status': 'rejected', 'source': {'public_nam...",[4041831004],[]
3,[],2021-02-01T21:00:48.555Z,None,[],[],"{'name': 'Cale Cranney', 'last_name': 'Cranney...",None,"[{'value': '6464041613', 'type': 'other'}]",Subick,2021-02-01T21:00:48.541Z,"{'report': None, 'english_fluency': None, 'com...",False,4042502004,Neil,[],"[{'value': 'neilsubick@aol.com', 'type': 'pers...",[],"{'report': None, 'english_fluency': None, 'com...",2021-01-30T00:05:00.626Z,None,None,True,[{'url': 'https://grnhse-ghr-prod-s4.s3.amazon...,"[{'status': 'rejected', 'source': {'public_nam...",[4042531004],[]
4,[],2021-02-01T21:06:17.261Z,None,[],[],"{'name': 'Cale Cranney', 'last_name': 'Cranney...",None,"[{'value': '7632214011', 'type': 'other'}]",Backstrom,2021-02-01T21:06:17.246Z,"{'report': None, 'english_fluency': None, 'com...",False,4043055004,Kelly,[],"[{'value': 'kellyjeanbackstrom@gmail.com', 'ty...",[],"{'report': None, 'english_fluency': None, 'com...",2021-01-30T17:04:00.983Z,None,None,True,[{'url': 'https://grnhse-ghr-prod-s4.s3.amazon...,"[{'status': 'rejected', 'source': {'public_nam...",[4043098004],[]

In [10]:
set_sheet('Candidates', candidates_df)

In [11]:
applications_df = get_data('https://harvest.greenhouse.io/v1/applications')
set_sheet('Applications', applications_df)
# Want this one
# Join candidates with Applications to see who has applied to which job

In [64]:
close_reasons_df = get_data('https://harvest.greenhouse.io/v1/close_reasons')
close_reasons_df.head()

           id                  name
0  4000367004           Not Filling
1  4000366004               On Hold
2  4000365004  Hire - New Headcount
3  4000364004       Hire - Backfill

In [16]:
question_sets = get_data('https://harvest.greenhouse.io/v1/demographics/question_sets')

{"message":"This API Key does not have permission for this endpoint"}

In [17]:
questions_df = get_data('https://harvest.greenhouse.io/v1/demographics/questions')

{"message":"This API Key does not have permission for this endpoint"}

In [18]:
answer_options_df = get_data('https://harvest.greenhouse.io/v1/demographics/answer_options')

{"message":"This API Key does not have permission for this endpoint"}

In [65]:
departments_df = get_data('https://harvest.greenhouse.io/v1/departments')
departments_df.head()

,id,name,parent_id,parent_department_external_id,child_ids,child_department_external_ids,external_id
0,4000364004,G&A,None,None,[],[],None
1,4000363004,Technology,None,None,[],[],None
2,4000362004,Product,None,None,[],[],None
3,4000361004,Marketing,None,None,[],[],None
4,4000360004,Sales,None,None,[],[],None

In [66]:
degrees_df = get_data('https://harvest.greenhouse.io/v1/degrees')
degrees_df.head()

,id,name,priority,external_id
0,4234408004,High School,0,None
1,4234409004,Associate's Degree,1,None
2,4234410004,Bachelor's Degree,2,None
3,4234411004,Master's Degree,3,None
4,4234412004,Master of Business Administration (M.B.A.),4,None

In [71]:
eeoc_df = get_data('https://harvest.greenhouse.io/v1/eeoc')
eeoc_df.head()

Empty DataFrame
Columns: []
Index: []

In [13]:
email_templates_df = get_data('https://harvest.greenhouse.io/v1/email_templates')
email_templates_df.head()
set_sheet('Email Templates', email_templates_df)
## Need this one!

In [14]:
job_posts_df = get_data('https://harvest.greenhouse.io/v1/job_posts')
job_posts_df.head()
set_sheet('Job Posts', job_posts_df)
## Want this one

In [75]:
job_stages_df = get_data('https://harvest.greenhouse.io/v1/job_stages')
job_stages_df.head()

,id,name,created_at,updated_at,active,job_id,priority,interviews
0,4001876004,Application Review,2021-01-14T06:22:16.237Z,2021-01-14T06:22:16.237Z,True,4000287004,0,"[{'id': 4002575004, 'name': 'Application Revie..."
1,4001877004,Offer,2021-01-14T06:22:16.237Z,2021-02-22T16:36:45.243Z,True,4000287004,4,[]
2,4001878004,Take Home Test,2021-01-14T06:51:10.960Z,2021-01-14T06:51:10.960Z,True,4000287004,1,"[{'id': 4002578004, 'name': 'Take Home Test', ..."
3,4001925004,Technical Interview,2021-01-14T16:36:35.996Z,2021-02-22T16:42:22.833Z,True,4000287004,3,"[{'id': 4002640004, 'name': 'Technical Intervi..."
4,4019049004,Hiring Manager Review,2021-02-22T16:36:45.186Z,2021-02-22T16:40:46.350Z,True,4000287004,2,"[{'id': 4024238004, 'name': 'Hiring Manager Re..."

In [15]:
jobs_df = get_data('https://harvest.greenhouse.io/v1/jobs')
jobs_df.head()
set_sheet('Jobs', jobs_df)
# Want this one

In [48]:
offers_df = get_data('https://harvest.greenhouse.io/v1/offers')
offers_df.head()

,id,version,application_id,created_at,updated_at,sent_at,resolved_at,starts_at,status,job_id,candidate_id,opening,custom_fields,keyed_custom_fields
0,4000456004,1,4041664004,2021-02-23T16:20:54.600Z,2021-02-23T16:20:54.757Z,None,2021-02-23T16:20:54.679Z,2021-02-22,accepted,4000884004,4041643004,"{'id': 4001146004, 'opening_id': '7-1', 'statu...",{'employment_type': 'Full-time'},{'employment_type': {'name': 'Employment Type'...
1,4003478004,1,4051067004,2021-04-09T15:42:03.272Z,2021-04-09T15:42:03.384Z,None,2021-04-09T15:42:03.337Z,2021-04-19,accepted,4000948004,4051131004,"{'id': 4001216004, 'opening_id': '8-1', 'statu...",{'employment_type': 'Full-time'},{'employment_type': {'name': 'Employment Type'...
2,4001037004,1,4060577004,2021-03-10T22:27:18.271Z,2021-03-10T22:27:18.465Z,None,2021-03-10T22:27:18.355Z,2021-03-29,accepted,4000322004,4060472004,"{'id': 4000447004, 'opening_id': '2-1', 'statu...",{'employment_type': 'Full-time'},{'employment_type': {'name': 'Employment Type'...
3,4000458004,1,4071514004,2021-02-23T16:22:37.365Z,2021-02-23T16:22:37.510Z,None,2021-02-23T16:22:37.453Z,2021-03-15,accepted,4000869004,4071269004,"{'id': 4001128004, 'opening_id': '5-2', 'statu...",{'employment_type': 'Full-time'},{'employment_type': {'name': 'Employment Type'...
4,4000457004,1,4079359004,2021-02-23T16:21:54.626Z,2021-02-23T16:21:54.760Z,None,2021-02-23T16:21:54.711Z,2021-02-22,accepted,4000869004,4079018004,"{'id': 4001127004, 'opening_id': '5-1', 'statu...",{'employment_type': 'Full-time'},{'employment_type': {'name': 'Employment Type'...

In [49]:
offices_df = get_data('https://harvest.greenhouse.io/v1/offices')
offices_df.head()

,id,name,location,primary_contact_user_id,parent_id,parent_office_external_id,child_ids,child_office_external_ids,external_id
0,4000132004,Remote,{'name': 'Remote'},None,None,None,[],[],None

In [50]:
prospect_pools_df = get_data('https://harvest.greenhouse.io/v1/prospect_pools')
prospect_pools_df.head()

,id,name,active,prospect_stages
0,4000389004,Talent Community,True,"[{'id': 4001401004, 'name': 'Not Contacted'}, ..."
1,4000388004,Past Employees,True,"[{'id': 4001398004, 'name': 'Monthly/Quarterly..."
2,4000387004,Past Applicants,True,"[{'id': 4001395004, 'name': 'Keep Warm'}, {'id..."
3,4000386004,College Recruitment,True,"[{'id': 4001391004, 'name': 'Graduation Year: ..."
4,4000385004,Cold Outreach,True,"[{'id': 4001386004, 'name': 'Not Contacted'}, ..."

In [17]:
rejection_reason_df = get_data('https://harvest.greenhouse.io/v1/rejection_reasons')
rejection_reason_df.head()

,id,name,type
0,4000278004,Compensation Requirements,"{'id': 4000000004, 'name': 'We rejected them'}"
1,4000329004,Position Closed,"{'id': 4000000004, 'name': 'We rejected them'}"
2,4000442004,Didn't Pass Assessment,"{'id': 4000000004, 'name': 'We rejected them'}"
3,4001535004,Did not complete homework assessment,"{'id': 4000000004, 'name': 'We rejected them'}"
4,4000432004,No Show,"{'id': 4000001004, 'name': 'They rejected us'}"

In [52]:
scheduled_int_df = get_data('https://harvest.greenhouse.io/v1/scheduled_interviews')
scheduled_int_df.head()

,id,application_id,external_event_id,start,end,location,video_conferencing_url,status,created_at,updated_at,interview,organizer,interviewers
0,22156813004,29098110004,https://api.calendly.com/scheduled_events/afe5...,{'date_time': '2022-05-03T14:00:00.000Z'},{'date_time': '2022-05-03T14:30:00.000Z'},None,None,complete,2022-05-02T16:29:32.159Z,2022-05-16T17:11:38.237Z,"{'id': 6560902004, 'name': 'All-in-One Phone I...","{'id': 4000658004, 'first_name': 'Fadee', 'las...","[{'id': 4000658004, 'employee_id': None, 'name..."
1,22160067004,29098567004,https://api.calendly.com/scheduled_events/94f9...,{'date_time': '2022-05-04T21:00:00.000Z'},{'date_time': '2022-05-04T21:30:00.000Z'},None,None,complete,2022-05-02T16:56:14.846Z,2022-05-05T00:18:58.336Z,"{'id': 6560902004, 'name': 'All-in-One Phone I...","{'id': 4000658004, 'first_name': 'Fadee', 'las...","[{'id': 4000658004, 'employee_id': None, 'name..."
2,22187228004,30274664004,https://api.calendly.com/scheduled_events/77d1...,{'date_time': '2022-05-03T22:00:00.000Z'},{'date_time': '2022-05-03T22:30:00.000Z'},None,None,complete,2022-05-02T20:55:11.855Z,2022-05-05T00:23:12.963Z,"{'id': 6560902004, 'name': 'All-in-One Phone I...","{'id': 4000658004, 'first_name': 'Fadee', 'las...","[{'id': 4000658004, 'employee_id': None, 'name..."
3,24205606004,31935309004,https://api.calendly.com/scheduled_events/96bb...,{'date_time': '2022-06-03T18:30:00.000Z'},{'date_time': '2022-06-03T19:00:00.000Z'},https://us06web.zoom.us/j/9598930913,https://us06web.zoom.us/j/9598930913,complete,2022-05-27T16:30:14.044Z,2022-06-07T18:23:01.388Z,"{'id': 4571866004, 'name': 'Phone Screen : Val'}","{'id': 4000658004, 'first_name': 'Fadee', 'las...","[{'id': 4000658004, 'employee_id': None, 'name..."
4,27062011004,35529161004,https://api.calendly.com/scheduled_events/7cb9...,{'date_time': '2022-07-18T22:00:00.000Z'},{'date_time': '2022-07-18T22:30:00.000Z'},https://us06web.zoom.us/j/9598930913,https://us06web.zoom.us/j/9598930913,complete,2022-07-06T21:56:18.823Z,2022-08-08T17:17:31.359Z,"{'id': 6560902004, 'name': 'All-in-One Phone I...","{'id': 4000658004, 'first_name': 'Fadee', 'las...","[{'id': 4000658004, 'employee_id': None, 'name..."

In [19]:
score_card_df = get_data('https://harvest.greenhouse.io/v1/scorecards')
score_card_df.head()
set_sheet('Score Card', score_card_df)
# want this one

In [54]:
can_tags_df = get_data('https://harvest.greenhouse.io/v1/tags/candidate')
can_tags_df.head()

           id                              name
0  4000982004                            Reject
1  4002539004  march2021_reprocessed_attachment
2  4028871004                    Open To Remote
3  4028872004                 Not US Authorized
4  4028873004                1 Years Experience

In [55]:
users_df = get_data('https://harvest.greenhouse.io/v1/users')
users_df.head()

,id,name,first_name,last_name,primary_email_address,updated_at,created_at,disabled,site_admin,emails,employee_id,linked_candidate_ids,offices,departments
0,4000646004,Luke Sophinos,Luke,Sophinos,luke@coursekey.com,2022-04-01T16:03:28.904Z,2021-01-13T20:05:21.198Z,False,True,[luke@coursekey.com],None,[],[],[]
1,4000658004,Fadee Kannah,Fadee,Kannah,fadee@coursekey.com,2022-11-04T00:05:39.637Z,2021-01-13T22:52:53.723Z,False,False,"[fadeekannah@thecoursekey.com, fadee@coursekey...",None,[],[],[]
2,4000659004,Natasha Conahan,Natasha,Conahan,natasha@coursekey.com,2021-07-21T20:36:52.154Z,2021-01-13T22:52:54.183Z,True,False,[natasha@coursekey.com],None,[],[],[]
3,4000660004,Ryan Arnett,Ryan,Arnett,ryanarnett@coursekey.com,2022-04-08T15:17:52.707Z,2021-01-13T22:52:54.565Z,True,False,[ryanarnett@coursekey.com],None,[],[],[]
4,4000661004,Hannah Zwick,Hannah,Zwick,hannah@coursekey.com,2021-07-21T20:37:55.487Z,2021-01-13T22:57:04.638Z,True,False,[hannah@coursekey.com],None,[],[],[]

In [56]:
user_roles = get_data('https://harvest.greenhouse.io/v1/user_roles')
user_roles.head()

           id       type      name
0  4000372004  job_admin   Private
1  4000371004  job_admin  Standard

In [85]:
applications_df['id'][0]

4038923004

In [ ]:
'https://harvest.greenhouse.io/v1/applications/{id}'

In [86]:
id = applications_df['id'][0]
url = f'https://harvest.greenhouse.io/v1/applications/{id}'
response = requests.get(url, auth=auth, headers=headers)

Need to have: Name, city, resume, why they were rejected, role/roles they applied for
Nice to have: Source, Date of application

In [93]:
applications_df.query("id == 4038923004")

,status,source,rejection_reason,rejection_details,rejected_at,prospective_office,prospective_department,prospect_detail,prospect,location,last_activity_at,jobs,job_post_id,id,current_stage,credited_to,candidate_id,attachments,applied_at,answers
0,rejected,"{'public_name': 'Indeed', 'id': 4000214004}","{'type': {'name': 'We rejected them', 'id': 40...",{},2021-02-03T17:45:51.320Z,None,None,"{'prospect_stage': None, 'prospect_pool': None...",False,None,2021-02-25T16:49:15.667Z,"[{'name': 'Director, Engineering', 'id': 40006...",4.000628e+09,4038923004,"{'name': 'Application Review', 'id': 4004569004}",None,4038926004,[{'url': 'https://grnhse-ghr-prod-s4.s3.amazon...,2021-01-28T01:53:00.593Z,"[{'question': 'Website', 'answer': None}, {'qu..."

In [91]:
response.json()

{'id': 4038923004,
 'candidate_id': 4038926004,
 'prospect': False,
 'applied_at': '2021-01-28T01:53:00.593Z',
 'rejected_at': '2021-02-03T17:45:51.320Z',
 'last_activity_at': '2021-02-25T16:49:15.667Z',
 'location': None,
 'attachments': [{'filename': 'Director of Engineering Resume-Cooper Gary.pdf',
   'url': 'https://grnhse-ghr-prod-s4.s3.amazonaws.com/person_attachments/data/401/295/800/original/Director%20of%20Engineering%20Resume-Cooper%20Gary.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVQGOLGY35U7HOO7D%2F20230109%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230109T222710Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=66ef932720b7720faa7cf18e6275d86132ad347d99cf069d964c14ade8024683',
   'type': 'resume',
   'created_at': '2021-01-28T01:53:00.597Z'}],
 'source': {'id': 4000214004, 'public_name': 'Indeed'},
 'credited_to': None,
 'rejection_reason': {'id': 4000003004,
  'name': 'Preferred another candidate',
  'type': {'id': 4000000004, 'name': 'We rejected them'}},
 'rejection_details': {},
 'jobs': [{'id': 4000685004, 'name': 'Director, Engineering'}],
 'job_post_id': 4000628004,
 'status': 'rejected',
 'current_stage': {'id': 4004569004, 'name': 'Application Review'},
 'answers': [{'question': 'Website', 'answer': None},
  {'question': 'LinkedIn Profile',
   'answer': 'https://www.linkedin.com/in/n-flux/'}],
 'prospective_department': None,
 'prospective_office': None,
 'prospect_detail': {'prospect_pool': None,
  'prospect_stage': None,
  'prospect_owner': None}}

In [87]:
pd.DataFrame(response.json())

ValueError: All arrays must be of the same length